{% extends "admin/base.html" %}

{% block content %}

{% if error  %}
  <div class="alert alert-danger" role="alert">
    <p>{{ error }}</p>
  </div>
{% endif %}

<!-- TODO:平文のパスワードが送られないようにする（register.htmlにも同じTODOあり） -->
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">Log-in to rmb!</h3>
  </div>
  <div class="panel-body">
    <form action="{% url 'authenticate' %}" method="post" role="form">
      {% csrf_token %}
      <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input id="id_username" name="username" type="text" value="" maxlength="256" placeholder="Username" aria-describedby="sizing-addon1" autofocus required/>
      </div>
      <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <input id="id_password" name="password" type="password" value="" maxlength="256" placeholder="Password" aria-describedby="sizing-addon1" required/>
      </div>

      <button type="submit" style="margin-bottom:-20px"><i class="fa fa-sign-in">Login</i></button>
      <!-- <input name="next" type="hidden" value="{{ next }}"/> -->
    </form>
    <button onclick="location.href='register/'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Registration</i></button>
  </div>
</div>
{% endblock %}