{% extends "admin/base.html" %}

{% block content %}

{% if result  %}
  <div class="alert alert-danger" role="alert">
    <p>{{ result }}</p>
  </div>
{% endif %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">User registration!</h3>
  </div>
  <div class="panel-body">
    <!--
    TODO:html作成時、formsを実装する。下記サイト参照。
        https://qiita.com/hayata-yamamoto/items/00072091caa5921fc819
    <form action="{% url 'accounts:register' %}" enctype="multipart/form-data" method="POST">
      {% csrf_token %}
      {{ registration_form }}
      <input type="submit" value="submit">
    </form>
    -->
    <form action="{% url 'accounts:register' %}" method="post" role="form">
      {% csrf_token %}
      <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input id="id_username" name="username" type="text" value="" maxlength="256" placeholder="Username" aria-describedby="sizing-addon1" autofocus required/>
      </div>
      <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
        <input id="id_password" name="password" type="password" value="" maxlength="256" placeholder="Password" aria-describedby="sizing-addon1" required/>
      </div>
      <div class="input-group" style="margin-bottom:10px">
        <span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
        <input id="id_email" name="email" type="text" value="" maxlength="256" placeholder="email address" aria-describedby="sizing-addon1" autofocus required/>
      </div>
      <button type="submit" style="margin-bottom:-20px"><i class="fa fa-sign-in">Register</i></button>
    </form>
    <button onclick="location.href='{% url 'accounts:login' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">back to login</i></button>
  </div>
</div>
{% endblock %}