{% extends "admin/base.html" %}

{% block content %}

{% if error  %}
  <div class="alert alert-danger" role="alert">
    <p>{{ error }}</p>
  </div>
{% endif %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">{{ username }}</h3>
    <button onclick="location.href='{% url 'accounts:logout' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Logout</i></button>
    <!-- TODO:セッション情報管理を実装する。とりあえずはログイン画面に戻るようにしている。 -->
  </div>
  <div class="panel-body">
    <button onclick="location.href='{% url 'create:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Create</i></button>
    <button onclick="location.href='{% url 'battle:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Battle</i></button>
    <button onclick="location.href='{% url 'show:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Show</i></button>
    <button onclick="location.href='{% url 'rank:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Rank</i></button>
    <button onclick="location.href='{% url 'log:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Log</i></button>
    <button onclick="location.href='{% url 'chat:index' %}'" style="margin-bottom:-20px" ><i class="fa fa-sign-in">Chat</i></button>
  </div>
</div>
{% endblock %}