{% extends "admin/base.html" %}

{% block content %}

{% if result  %}
  <div class="alert alert-danger" role="alert">
    <p>{{ result }}</p>
  </div>
{% endif %}

<p><a href="{% url 'menu:main' %}">back to menu</a></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title text-center">User profile!</h3>
  </div>
  <div class="panel-body">
      {% for character in characters_list %}
      <table border="5" rules="all">
          <tr>
              <td>LV</td><td>"{{ character.level }}"</td>
          </tr>
          <tr>
              <td>HP</td><td>"{{ character.hit_point }}"</td>
          </tr>
          <tr>
              <td>MP</td><td>"{{ character.magic_point }}"</td>
          </tr>
          <tr>
              <td>ATK</td><td>"{{ character.attack_point }}"</td>
          </tr>
          <tr>
              <td>DEF</td><td>"{{ character.defence_point }}"</td>
          </tr>
          <tr>
              <td>SPD</td><td>"{{ character.speed_point }}"</td>
          </tr>
          <tr>
              <td>LCK</td><td>"{{ character.luck_point }}"</td>
          </tr>
      </table>

      <div>
          <img src="{{ character.graffiti_image.url }}" width="100" height="100"/>
      </div>

      <div>
          <a href="{% url 'character:delete' character.id %}">削除</a>
      </div>

      <br>
      {% endfor %}
  </div>
</div>
{% endblock %}
